[run]
source = app
omit = 
    */tests/*
    */migrations/*
    */__pycache__/*
    */venv/*
    */env/*
    */site-packages/*

[report]
precision = 2
show_missing = True
skip_covered = False
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    
    # Don't complain about missing debug-only code
    def __repr__
    if self.debug
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    
    # Don't complain if tests don't hit defensive assertion code
    if 0:
    if False:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

[html]
directory = htmlcov
